{% extends 'buytextbooks/base.html'%}
<title>{%block title %} Textbook Details {% endblock %} </title>
<a class="w3-left-align w3-bar-item w3-button w3-hide-small w3-padding-large {%block linktwo%} w3-padding-large w3-grey{% endblock%}" href="{% url 'books:alltextbooks' %}">Buy Textbooks</a>
    {%block body%}
    <div style="float:center;display: inline-block;">
        <img width = "100%" src="{{textbook.textbookimage.url}}">
    </div>

     <div style=" display: inline-block; float:right; border: 1px solid lightgrey; margin:50px 100px 0px 10px; padding:10px;">
                <h1>{{textbook.textbooktitle}}</h1>

                <h3>{{textbook.textbookauthor}}</h3>
                <h3>{{textbook.textbookpublisher}}</h3>
                <h3>{{textbook.textbooklocation}}</h3>
                <a style = "font-size: 15px; background-color: #ABDB25; margin: 50px 50px; padding : 10px 20px" href = "{% url 'books:textbook-update' textbook.id %}"> Update this Textbook </a>
    </div>
    {% endblock %}
