<!DOCTYPE html>
<html>
<head>
  {% extends 'buytextbooks/base.html'%}
  <title>{%block title %}Book Hook - Prepbooks {% endblock %} </title>
  <a class="w3-left-align w3-bar-item w3-button w3-hide-small w3-padding-large {%block linkthree%} w3-padding-large w3-grey{% endblock%}" href="{% url 'books:allprepbooks' %}">Buy Prep Books</a>
</head>
<body>
  <p class="w3-xlarge w3-center">{% block header%} All Prepbooks {%endblock%}</p>
    {%block body%}
      <h1 class="w3-margin w3-jumbo w3-text-lime w3-center">Prepbooks</h1>
              {% if object_list %}
                {% for prepbook in object_list %}
                    <div style = " width: 50%; text-align:center; padding:15px; margin: 20px 100px 20px; 100px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                      <img style = "width:50%;" src="{{prepbook.prepbookimage.url}}">
                          <h3>
                            <button type ="button" style= "background-color: grey; display: inline-block;"><a style="color:white; text-decoration: none;" href = "{% url 'books:detailprepbook' prepbook.id%}">{{prepbook.prepbooktitle}}</a></button>
                          </h3>
                    </div>
                {% endfor %}
              {% endif %}

    {%endblock%}

<!--
    {% if object_list %}
    <h3>Here are all the Prepbooks:</h3>
       <ul>
          {% for prepbook in object_list %}
             <li><a href = "{% url 'books:detailprepbook' prepbook.id%}">{{prepbook.prepbooktitle}}</a></li>
          {% endfor %}
      </ul>

    {% endif %}
-->
</body>
</html>
